
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Outfit:wght@100..900&display=swap');
*{
  padding:0;
box-sizing:border-box;
  margin:0;
  font-family: "Outfit", sans-serif;
}
body{
  padding:0;
  margin:0;
}
.ht-100{
  height:100vh;
}
.nav{
  padding:0;
  margin:0;
  width: 100%;
}
.active{
  border:none;
  border-radius: 30px;
  background-color:#0d6efd;
}
.menubtn{
 transform:rotate(270deg);
  width:50px;
  right:0;
  top:5px;
  font-size:1rem;
}
.head div:hover{
  border:none;
  border-radius: 30px;
  cursor:pointer;
}
.page1{
  margin:0;
  padding:0;
width:100%;
  background: linear-gradient(rgba(8, 0, 58, 0.705),rgba(8, 0, 58, 0.697)), url('hero.png');
  z-index:1; 
background-size:cover;
background-position:center;
 color:white;
}
.img2{
    z-index:2;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    opacity:0;
    margin-top: 50px;
    transition:all 0.5s;
    padding-bottom:20px;
    width:100%;
}

@media (min-width:576px){
  .img1:hover .img2{
    margin-top:0;
    cursor:pointer;
  opacity:1;
  }
}

.img1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 51, 81, 0.693); /* RGBA color overlay */
  pointer-events: none; /* Allows clicks to pass through */
}
.playbtn{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-contaier{
  flex:1;
}
.carImg{
  max-width:200px;
}
.carousel-inner, .carousel-item{
  border:1px solid rgba(10, 3, 3, 0.061);
 box-shadow: 0 0 10px 1px black;
  border-radius: 20px;
}
.contact ul li img{
  width:30px;
}
@media (max-width:768px){
  footer{
    font-size:10px;
  }
  .img1:hover .imga0,.imga1,.imga2{
    margin-top:0;
    cursor:pointer;
  opacity:1;
  }
  .carImg{
   width:100px;
  }
   .head{
     position:fixed;
     width:150px;
     right:0;
     top:50px;
     border-radius:0 0 20px 20px;
   }
    .nav{
     height:50px;
   }
 }